<div class="conteudo">
  <div class="container">
    <h2>Cadastro</h2>
    <h3>Informações Pessoais</h3>
    <form [formGroup]="cadastroForm">
      <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" type="text">
            <mat-error>O nome é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Sobrenome</mat-label>
            <input matInput formControlName="sobrenome" type="text">
            <mat-error>Sobrenome é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error>Email é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" type="tell">
            <mat-error>Telefone é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" type="cpf">
            <mat-error>CPF é obrigatório</mat-error>
          </mat-form-field>
      </div>

      <h3>Endereço</h3>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="rua" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero_residencia" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estado" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" type="text">
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-stroked-button color="primary" class="voltar">Voltar</button>
        <button  class="agendar">Cadastrar</button>
      </div>

    </form>
  </div>

</div>
