.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;
}

.container {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;  /* Reduz o espaço entre os campos */
}

h3 {
  font-weight: bold;
  margin-bottom: 5px;  /* Reduz a margem */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  min-width: 10px;  /* Garante um tamanho mínimo, menor para caber melhor */
  margin-bottom: 10px;  /* Reduz o espaço entre os campos */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.voltar{
  border: none;
  color: var(--Verde-claro);
  background-color: var(--branco);
  font-size: 24px;
  text-decoration: underline;
}

.agendar {
  border: none;
  background-color: var(--Verde-claro);
  color: var(--branco);
  font-size: 24px;
  border-radius: 50px;
  padding: 10px;
}
