<div class="senha-container">
  <div class="imagem-logo">
    <img src="/logo.png" alt="logo" class="logo">
    <h3>Recuperar senha</h3>
  </div>
  <form [formGroup]="recuperarSenhaForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error>O email é obrigatório</mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      class="login__button"
      [disabled]="!recuperarSenhaForm.valid"
      (click)="enviarToken()"
    >Enviar token</button>
  </form>
  <div class="acoes">
    <p>Recuperou sua senha? <span routerLink="/login-paciente">Faça login</span></p>
  </div>
</div>
