<div class="container__home">
  @if (contratosDoDia.length > 0) {
    <div class="container__contratos">
      <table>
        <tr>
          <th>Horário</th>
          <th>Cliente</th>
          <th>Serviço</th>
        </tr>
        @for (contrato of contratosDoDia; track $index) {
          <tr>
            <td>{{ contrato.horaInicio }}</td>
            <td>{{ contrato.cliente }}</td>
            <td>{{ contrato.servico }}</td>
          </tr>
        }
      </table>
    </div>
  } @else {
    <p class="contratos__vazio">Não há contratos para o dia selecionado</p>
  }
  <mat-calendar [(selected)]="selectedDate"></mat-calendar>
</div>
