:root {
  --Verde-claro: #00bfa6;
  --Verde-escuro : #008975;  /* Verde mais escuro para hover */
  --cinza-fundo: #D9D9D9;
  --secondary-color: #ffffff; /* Branco para o fundo */
  --accent-color: #555555; /* Cinza para ícones e texto */
  --text-color: #333333; /* Cor escura para texto */
  --background-color: #f1f5f9; /* Cor de fundo da página */
  --shadow-color: rgba(0, 0, 0, 0.15); /* Sombra mais escura */
  --border-color: #e0e0e0; /* Cor das bordas */
  --branco: #ffffff; /* Branco para o texto do botão */
  --cinza: #f0f2f5; /*fundo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--background-color); }

